.appLogo {
  height: 40px;
  margin: 0 30px;
}

.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuContainer {
  align-items: center;
  position: relative;

}

.menuAvatar {
  margin-right: 15px;
}
