.previewContainer {
  top: 47px;
  left: 1px;
  height: 100%;
  right: 360px;
  position: fixed;
  transform: scale(1);
  border: green 1px solid;
  min-height: 2400px;
  max-height: 2400px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.previewContainer2 {
  width: 100%;
  position: absolute;
  min-height: 2400px;
  max-height: 2400px;
}

.dnd-container {
  padding: 20px 0;
}
