.appLogo {
  height: 40px;
  margin: 0 30px;
}

.navBarContainer {
  top: 0;
  width: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.menuContainer {
  width: 100%;
  position: relative;
  align-items: center;
}

.menuAvatar {
  right: 0;
  position: absolute;
  margin-right: 15px;
}

.pageName {
  margin: 0 20px;
}

.previewBtn {
  top: 6px;
  right: 100px;
  position: absolute;
}

.shareBtn {
  top: 6px;
  right: 213px;
  position: absolute;
}

.saveBtn {
  top: 6px;
  right: 291px;
  position: absolute;
}

.backBtn {
  top: 6px;
  right: 363px;
  position: absolute;
}

.commentsBtn {
  top: 6px;
  right: 435px;
  position: absolute;
}
