body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #67597a;
  --secondary: #45424b;
  --grey-background: #ececec;
  --grey-light: rgb(165, 163, 163);
  --white: #fff;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: var(--primary);
  border-color: var(--primary);
}

.anchorLinkStyle {
  color: var(--primary);
}

.anchorLinkStyle:hover {
  text-decoration: underline;
  color: var(--secondary);
}
